* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem 5rem;
}

.title {
  color: #4c3535;
  font-size: 4.5rem;
}

.text {
  color: black;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 700;
}

.third-title {
  color: #bbbbbb;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.second-title {
  color: #4c3535;
  font-size: 3rem;
  font-weight: 700;
}

.line {
  border: 0.2rem solid #eebe68;
  width: 10%;
}
/* Header */

.travellers__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 2rem;
}

.navbar__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav__element {
  font-weight: 700;
}

.nav__element--button {
  background-color: #ff6527;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.8rem;
  font-weight: 400;
  padding: 0.8rem 2rem;
}

.element__link {
  border-bottom: 0.2rem solid transparent;
  color: black;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  text-decoration: none;
}

.element__link--button {
  color: white;
}

.element__link:hover {
  border-bottom: 0.2rem solid #ff6527;
  padding: 1rem 1rem;
}

/* Main section */

.travellers__main-section {
  align-items: center;
  background-image: url(/static/main-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  margin: 5rem 5rem;
}

.main-section__description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35%;
}

.description__store-images {
  display: flex;
  gap: 3rem;
}

.store-images__logo {
  border-radius: 1rem;
  box-shadow: 9px 5px 20px -6px rgba(0, 0, 0, 0.32);
  height: 6.5rem;
}

.main-section__arrow {
  align-self: flex-end;
  bottom: 45rem;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 10%;
}

.arrow__image {
  background-color: white;
  border-radius: 3rem;
  box-shadow: 9px 5px 20px -6px rgba(0, 0, 0, 0.32);
  height: 7rem;
  padding: 2.5rem 1rem;
  width: 30%;
}

.main-section__photo {
  display: flex;
  justify-content: center;
  width: 50%;
}

.photo__image {
  height: 50rem;
}

/* Community section */

.travellers__section-community {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  text-align: center;
}

.line__orange {
  align-self: center;
  border: 0.2rem solid #ff6527;
  width: 5%;
}

.section-community__photo {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
}

.photo__community {
  height: 35rem;
}

/* Memories section */

.travellers__section-memories {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 5rem auto;
  background-image: url(/static/memories-background.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-memories__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  padding-right: 10rem;
  width: 40%;
}

.description__bullet {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.bullet__icon {
  background-color: white;
  border-radius: 50%;
  box-shadow: 9px 5px 20px -6px rgba(0, 0, 0, 0.32);
  height: 5rem;
  padding: 1rem;
}

.section-memories__image {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.image__photographer {
  height: 50rem;
}
